<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tsrvtcnew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="tsrvtcnew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <tsrvtcnew.Properties.Settings>
      <setting name="message" serializeAs="String">
        <value />
      </setting>
      <setting name="datapath" serializeAs="String">
        <value />
      </setting>
      <setting name="launcherpath" serializeAs="String">
        <value />
      </setting>
      <setting name="agreed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ccpanelcheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tbchk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ETS2Location" serializeAs="String">
        <value />
      </setting>
      <setting name="singleplayer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="replacegui" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ATSLocation" serializeAs="String">
        <value />
      </setting>
    </tsrvtcnew.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
<applicationSettings>
        <tsrvtcnew.Properties.Settings>
                <setting name="tbpath" serializeAs="String">
                        <value>C:\Program Files (x86)\TrucksBook Client</value>
                </setting>
        </tsrvtcnew.Properties.Settings>
    </applicationSettings>
</configuration>
